BODY {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
SELECT {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
INPUT {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
BUTTON {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
TEXTAREA {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
PRE {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
H1 {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
H2 {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
H3 {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
H4 {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
H5 {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
H6 {
	FONT-FAMILY: "Segoe UI", Verdana, Helvetica, Sans-Serif
}
